/*basic*/

* {
    font-family: 'Roboto', sans-serif;
    background-color: #fcfdfe;
}

body {
    margin: 0 2rem 1rem;
}

.footer li {
    list-style-type: none;
}

/*header*/

h1 {
    font-size: 4rem;
    border-bottom: black solid;
}

h1 > a {
    text-decoration: none;
    color: black;
}

/*footer*/

div.footer {
    padding-top: 1rem;
    border-top: solid black 3px;
    font-weight: bold;
    text-align: center;
}

/*form*/

form {
    margin: 2rem 0;
}

label {
    font-weight: bold;
}

input {
    display: inline-block;
    margin: 0 1rem 1rem 0.5rem;
    font-size: 1rem;
    border: solid 1px black;
    padding: 0.3rem 0.5rem;
}

input[type=submit] {
    margin-top: 1rem;
    display: block;
    font-size: 1rem;
    border: 0;
    background-color: black;
    color: #fcfdfe;
    padding: 1rem 3rem 1rem 1rem;
}

input[type=submit]:hover {
    cursor: pointer;
}

/*rooms*/

#main > dl {
    float: left;
    border: solid black;
    margin: .5rem .5rem 1rem;
    padding: 2rem;
}

#main > dl:last-of-type {
    clear: right;
}

#main > dl dt {
    margin: 1rem 0;
}

#main > dl dt:first-of-type {
    display: none;
}

#main > dl dd:first-of-type {
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

#main > dl dd {
    margin: 0;
    font-weight: bolder;
}

/*buttons*/

li a, #main > dl dt a {
    text-align: left;
    font-weight: normal;
    max-width: 15rem;
    background-color: black;
    color: #fcfdfe;
    text-decoration: none;
    background-color: black;
    display: block;
    padding: 1rem;
    margin: 1rem;
}

/*footer*/

.footer {
    clear: both
}

/*registration*/

.registration dt {
    margin-top: .5rem;
}

.registration dt:last-of-type {
    display: none;
}

.registration dd {
    margin-top: .5rem;
    margin-left: 0;
}

/*login*/
.login dt {
    margin-top: .5rem;
}

.login dd {
    margin-top: .5rem;
    margin-left: 0;
}

.login dt:last-of-type {
    display: none;
}